.navbar {
  backdrop-filter: blur(5px);
   background: #222;
  /* box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);  */
 height: 110px;
 background-color:#222;
 /* background-color: rgb(15, 15, 37); */
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px;
 /* border-radius: 15px; */
}

.navbar-brand {
  backdrop-filter: blur(5px);
  background: #222;
 box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
             0px 2px 4px rgba(0,255,255,0.5), 
             0px 4px 8px rgba(0,255,255,0.5), 
             0px 8px 16px rgba(0,255,255,0.5); 

 margin: 0;
 /* font-size: 1.8rem; */
 /* font-weight: bold; */
 color: #ffffff;
  background: #1d2228;
 backdrop-filter: blur(10px); 
 width: 330px;
 height: 50px; 
 border-radius: 10px; 
 display: flex;
 align-items: center;
 justify-content: center;
 /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); */
}

#brandname {
 margin: 0;
 font-size: 1.5rem;
 font-weight: bold;
 color: #ffffff;
}

.navbar-links {
 list-style: none;
 display: flex;
 gap: 20px;
}

.navbar-links li {
 display: inline;
}

.navbar-links a {
  backdrop-filter: blur(5px);
  background: #222;
 box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
             0px 2px 4px rgba(0,255,255,0.5), 
             0px 4px 8px rgba(0,255,255,0.5), 
             0px 8px 16px rgba(0,255,255,0.5); 

 color: rgb(255, 255, 255);
 text-decoration: none;
 font-size: 1rem;
 display: flex;
 align-items: center;
 gap: 5px;
 border-radius: 5px;
 padding: 10px;
 background-color: #1d2228;
 /* background: rgba(0, 0, 0, 0.3);
 backdrop-filter: blur(10px);
 box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2); */
}

.navbar-links a:hover {
 color: #ffffff;
 background: rgba(255, 255, 255, 0.3);
}

.navbar-links a svg {
 transition: transform 0.3s ease;
}

.navbar-links a:hover svg {
 transform: scale(1.1);
}

.information {
 display: flex;
 justify-content: space-around;
 align-items: center;
 background: rgba(44, 79, 99, 0.3);
 backdrop-filter: blur(15px);
 width: 95%;
 height: 300px;
 margin-top: 30px;
 border-radius: 20px;
 gap: 10px;
 box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.inbox {
 width: 30%;
 color: #ffffff;
 height: 80%;
 display: flex;
 flex-direction: column;
 justify-content: start;  
 font-family: sans-serif;
 background: rgba(77, 147, 188, 0.2);
 backdrop-filter: blur(10px);
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}