
.chatbot_popup {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 350px;
    height: 550px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .chatbot_header {
    background: #007bff;
    width: 2rem;
    height: 2rem;
    color: white;
    padding: 1px;
    align-self: self-end;
    border-radius: 50%;
  }
  
  .close_button {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: -2px -13px;
  }
  
  .chatbot_logo img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
  }
  
  .chatbot_logo {
    display: flex;
     justify-content: flex-end;
     background-color: transparent
   }
   .chatbot_logo img {
       width: 10rem;
       height: 10rem;
       border-radius: 50%;
     /* height: auto; */
     object-fit: contain;
     /* border-radius: 50%; */
   }
   .chatbot_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot_messages {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    background-color: #fff;
  }
  
  .chat_message {
    margin: 8px 0;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 80%;
    word-wrap: break-word;
  }
  
  .bot_message {
    background-color: #e3f2fd;
    /* align-self: flex-start; */
    color: #1a73e8;
    font-weight: bold;
  }
  
  .user_message {
    background-color: #d1f7d1;
    align-self: flex-end;
    color: #256029;
    margin: 7px 13px 6px 44px;
  }
  
  .chatbot_input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .chatbot_input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
  }
  
  .chatbot_input input:focus {
    border-color: #1a73e8;
    box-shadow: 0 0 3px rgba(26, 115, 232, 0.5);
  }
  
  .chatbot_input button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1a73e8;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chatbot_input button:hover {
    background-color: #0c5bd4;
  }
  
  .chatbot_input button:active {
    background-color: #084bad;
  }
  