/* Default Prices Container */
.price-cantainer{
    background-color: #1d2228;
    height: 700px;

}
.default-price-container {
    background: rgba(180, 179, 179, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: #1d2228; */
    color: #e1e2e2;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .default-price-title {
    font-size: 1.5rem;
    color: #fb8122;
    margin-bottom: 1rem;
  }
  
  .default-price-message {
    color: #e06d1d;
    font-weight: bold;
  }
  
  .default-price-label {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    color: #e1e2e2;
  }
  
  .default-price-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #e1e2e2;
    border-radius: 5px;
    background-color: #e1e2e2;
    color: #1d2228;
    font-size: 1rem;
  }
  
  .default-price-button {
    background-color: #fb8122;
    color: #1d2228;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    font-weight: bold;
  }
  
  .default-price-button:hover {
    background-color: #e06d1d;
  }
  
  .default-price-loading {
    font-size: 1rem;
    color: #e1e2e2;
    margin-top: 1rem;
  }