/* Container Styling */
.AddItem-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1d2228; /* Dark Gray Background */
    min-height: 100vh;
    color: #e1e2e2; /* Light Gray Text */
}

/* Heading */
.AddItem-heading {
    font-size: 2rem;
    color: #e1e2e2;
    margin-bottom: 20px;
}

/* Form Styling */
.AddItem-form {backdrop-filter: blur(5px);
    background: #222;
   box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
               0px 2px 4px rgba(0,255,255,0.5), 
               0px 4px 8px rgba(0,255,255,0.5), 
               0px 8px 16px rgba(0,255,255,0.5); 
    /* background: rgba(180, 179, 179, 0.1);
    backdrop-filter: blur(10px);
    /* color: #e1e2e2; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    /* background-color: #e1e2e2; Light Gray */
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

/* Error Message */
.AddItem-error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/* Labels */
.AddItem-label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1d2228; /* Dark Gray */
    color: white;
}

/* Input Fields */
.AddItem-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #1d2228; /* Dark Gray Border */
    border-radius: 5px;
    background-color: #e1e2e2; /* Light Gray */
    color: #1d2228; /* Dark Gray */
    font-size: 1rem;
}

/* Input Focus */
.AddItem-input:focus {
    outline: none;
    border: 2px solid #fb8122; /* Orange */
}

/* Button Container */
.AddItem-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Button Styling */
.AddItem-btn {
    background-color: #fb8122; /* Orange */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.AddItem-btn:hover {
    background-color: #e16a1c; /* Slightly Darker Orange */
}

/* Disabled Button */
.AddItem-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}