.Bed-status-container {
    background-color: #1d2228;
    color: #e1e2e2;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.Bed-status-title {
    font-size: 26px;
    color: #fb8122;
    margin-bottom: 20px;
}

.Bed-status-stats {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(20, 91, 133, 0.2);
    /* background-color: #fb8122; */
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.Bed-status-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.Bed-status-text {
    font-size: 16px;
    margin: 5px 0;
}

.Bed-status-loading {
    font-size: 18px;
    color: #fb8122;
}

.Bed-status-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e1e2e2;
    color: #1d2228;
    border-radius: 8px;
    overflow: hidden;
}

.Bed-status-table-header {
    background-color: #fb8122;
    color: #1d2228;
    font-size: 18px;
}

.Bed-status-th, 
.Bed-status-td {
    padding: 10px;
    border-bottom: 1px solid #1d2228;
    text-align: center;
}

/* .Bed-status-table-row:hover {
    background-color: #fb8122;
    color: #1d2228;
} */

.Bed-status-discharge-button {
    background-color: #fb8122;
    color: #1d2228;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Bed-status-discharge-button:hover {
    background-color: #e16a10;
}