.Update-quantity-container {
    background-color: #1d2228; /* Dark background */
    color: #e1e2e2; /* Light text */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.Update-quantity-heading {
    font-size: 24px;
    font-weight: bold;
    color: #fb8122; /* Orange heading */
    margin-bottom: 15px;
}

.Update-quantity-loading,
.Update-quantity-error-message {
    font-size: 16px;
    margin-bottom: 10px;
}

.Update-quantity-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Update-quantity-current-quantity {
    font-size: 16px;
    margin-bottom: 10px;
}

.Update-quantity-label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;
}

.Update-quantity-input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #e1e2e2;
    border-radius: 5px;
    background-color: #33383e;
    color: #e1e2e2;
    font-size: 16px;
}

.Update-quantity-update-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fb8122; /* Orange button */
    color: #1d2228;
    transition: background 0.3s ease-in-out;
}

.Update-quantity-update-btn:hover {
    background-color: #e06c13;
}